@import url(reset.css);
@import url(webfontkit-20230428-230817/type.css);
@import url(layout.css);

:root {
    /*background*/
    --colour-bg-links:#9b3417;
    --colour-bg:#FAF8EF;

    --colour-primary-accent: #BF6B3F;
    --colour-secondary-accent: #F3A23F;

    --colour-primary: #8A5037;
    --colour-secondary: #AB7D5B;


    /* text */
    --colour-text: #8A5037;

    /*dark product colours*/
    --colour-mini-dark: #9d6048;
    --colour-keyharp-dark: #7A4043;
    --colour-toy-dark: #8C6054;
    --colour-zakka-dark: #B75455;
    --colour-parts-dark: #7B5036;
    --colour-combo-dark: #B85426;
    --colour-electric-dark: #7B4E1F;
    --colour-headphones-dark: #A5432B;
    --colour-effects-dark:#8A5037;
    --colour-fashion-dark:#B86231;
    --colour-other-dark:#9A5F3A;

    /*highlighted product colour*/
    --colour-mini: #9A7C69;
    --colour-keyharp: #5A5385;
    --colour-toy: #7F96A8;
    --colour-zakka: #D37AA8;
    --colour-parts: #5E7367;
    --colour-combo: #D67939;
    --colour-electric: #60722F;
    --colour-headphones: #AD5646;
    --colour-effects:#7B7468;
    --colour-fashion:#D89854;
    --colour-other:#9C956A;

    background-color: var(--colour-bg);

}



/* BUTTONS */
button {
    background-color: var(--colour-bg);
    color: var(--colour-primary);

    border: 0.5px solid var(--colour-primary-accent);
}

button:hover, button:hover > h4, button:hover > h5 {
    background-color: var(--colour-primary);
    color: var(--colour-bg);
}

.btn {
    background-color: var(--colour-bg);
    color: var(--colour-primary);

    border: 0.5px solid var(--colour-primary-accent);
}

.btn:hover, .btn:hover > h4, .btn:hover > h5 {
    background-color: var(--colour-primary);
    color: var(--colour-bg);
}

.btn__secondary {
    background-color: var(--colour-primary);
    color: var(--colour-bg);

    border: 0.5px solid var(--colour-primary);
}

.btn__secondary:hover {
    background-color: var(--colour-bg);
    color: var(--colour-primary);
}

.btn__accent {
    background-color: var(--colour-primary-accent);
    color: var(--colour-bg);

    border: 0.5px solid var(--colour-primary-accent);
}

.btn__accent:hover, .btn__accent:hover > h4, .btn__accent:hover > h5 {
    background-color: var(--colour-bg);
    color: var(--colour-primary);
}


/* NAVIGATION KEYS */
.key {
    background-color: var(--colour-bg);
}



/* ICON */
.icon {
    border: 0.5px solid var(--colour-primary); 
}

.icon > svg > path, .icon > svg > g > path {
    fill: var(--colour-primary);
}

.icon:hover, .icon:hover > svg > path, .icon:hover > svg > g > path  {
    background-color: var(--colour-primary);
    fill: var(--colour-bg);
}




/* ICON COLOURS */
.icon__primary, .icon__primary > svg > path {
    background-color: var(--colour-primary);
    fill: var(--colour-bg);
}

.icon__primary:hover, .icon__primary:hover > svg > path  {
    border-color: var(--colour-primary);
    background-color: var(--colour-bg);
    fill: var(--colour-primary);
}

.icon__second, .icon__second > svg > path {
    border-color: var(--colour-secondary);
    fill: var(--colour-secondary);
}

.icon__second:hover, .icon__second:hover > svg > path {
    background-color: var(--colour-secondary);
    fill: var(--colour-bg);
}

.active__secondary, .active__secondary > svg > path {
    background-color: var(--colour-secondary);
    fill: var(--colour-bg);
}






/* PRODUCT COLOURS */
.combo {
    border-color: var(--colour-combo);
}

.combo > svg > path {
    fill: var(--colour-combo);
}

.combo.icon:hover, .combo.icon:hover > svg > path  {
    background-color: var(--colour-combo);
    fill: var(--colour-bg);
}

.mini {
    border-color: var(--colour-mini);
}

.mini > svg > path {
    fill: var(--colour-mini);
}

.mini.icon:hover, .mini.icon:hover > svg > path  {
    background-color: var(--colour-mini);
    fill: var(--colour-bg);
}

.keyHarp {
    border-color: var(--colour-keyharp);
}

.keyHarp > svg > path {
    fill: var(--colour-keyharp);
}

.keyHarp.icon:hover, .keyHarp.icon:hover > svg > path  {
    background-color: var(--colour-keyharp);
    fill: var(--colour-bg);
}

.toy {
    border-color: var(--colour-toy);
    fill: var(--colour-toy);
}

.toy > svg > path {
    fill:var(--colour-toy)
}

.toy.icon:hover, .toy.icon:hover > svg > path  {
    background-color: var(--colour-toy);
    fill: var(--colour-bg);
}

.electric {
    border-color: var(--colour-electric);
}

.electric > svg > g > path {
    fill: var(--colour-electric);
}

.electric.icon:hover, .electric.icon:hover > svg > g > path  {
    background-color: var(--colour-electric);
    fill: var(--colour-bg);
}

.headphones {
    border-color: var(--colour-headphones);
}

.headphones > svg > path {
    fill:var(--colour-headphones)
}

.headphones.icon:hover, .headphones.icon:hover > svg > path  {
    background-color: var(--colour-headphones);
    fill: var(--colour-bg);
}

.effects {
    border-color: var(--colour-effects);
}

.effects > svg > g > path {
    fill: var(--colour-effects);
}

.effects.icon:hover, .effects.icon:hover > svg > g > path, .effects.icon:hover > svg > g > ellipse  {
    background-color: var(--colour-effects);
    fill: var(--colour-bg);
}

.parts {
    border-color: var(--colour-parts);
}

.parts > svg > path {
    fill: var(--colour-parts);
}

.parts.icon:hover, .parts.icon:hover > svg > path  {
    background-color: var(--colour-parts);
    fill: var(--colour-bg);
}

.fashion {
    border-color: var(--colour-fashion);
}

.fashion > svg > path {
    fill: var(--colour-fashion);
}

.fashion.icon:hover, .fashion.icon:hover > svg > path  {
    background-color: var(--colour-fashion);
    fill: var(--colour-bg);
}

.zakka {
    border-color: var(--colour-zakka);
}

.zakka > svg > path {
    fill: var(--colour-zakka);
}

.zakka.icon:hover, .zakka.icon:hover > svg > path  {
    background-color: var(--colour-zakka);
    fill: var(--colour-bg);
}

.other {
    border-color: var(--colour-other);
}

.other > svg > text {
    fill: var(--colour-other);
}

.other.icon:hover, .other.icon:hover > svg > text  {
    background-color: var(--colour-other);
    fill: var(--colour-bg);
}




/* INPUTS */
select, option {
    background-color: var(--colour-bg);
    border: 0.5px solid var(--colour-primary);
    color: var(--colour-secondary);
}

select:focus-visible {
    outline: 0.5px solid var(--colour-secondary);
    border: 1px solid var(--colour-secondary);
    color: var(--colour-secondary);
}

input::placeholder {
    color: var(--colour-secondary);
}

input {
    background-color: var(--colour-bg);
    border: 0.5px solid var(--colour-primary);
    color: var(--colour-secondary);
}

input:focus-visible {
    outline: 0.5px solid var(--colour-secondary);
    border: 1px solid var(--colour-secondary);
    color: var(--colour-secondary);
}

input[type="radio"] {
    background-color: var(--colour-bg);
    border: 1px solid var(--colour-secondary);
}

input:checked {
    background-color: var(--colour-secondary);
    border: 2px solid var(--colour-bg);
    box-shadow: 0 0 0 1px var(--colour-secondary);
}




/* MODAL */
.modal {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}




/* CART */
.cart {
    background-color: var(--colour-bg);
}
  
/* .cart > section:not(.cart-products) {
border-top: 0.5px solid var(--colour-primary);
} */


.border-top {
    border-top: 0.5px solid var(--colour-primary);
}




/*SECTION*/
.box {
    border: 0.5px solid var(--colour-primary); 
}




/* SCROLL*/
::-webkit-scrollbar-track {
    background: var(--colour-bg);
    opacity: 100%;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--colour-primary);
}




/* SEARCH */
.search {
    border: 0.5px solid var(--colour-primary);
}

.search-item {
    color: var(--colour-bg);
    background-color: var(--colour-secondary);
    border: 0.5px solid var(--colour-secondary);
}

.search-item > h7 {
    color: var(--colour-bg);
}

.search-item:hover, .search-item > h7:hover {
    color: var(--colour-primary);
}