@import url(reset.css);
@import url(colours.css);
@import url(webfontkit-20230428-230817/type.css);

body {
    margin: 2% 6% 6% 6%;
}

.main {
    margin:0;
}

/* CLUSTER */
.cluster {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cluster__around {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.cluster__none {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.cluster > * {
    margin: 0.5rem;
}

.cluster > .keyNav {
    margin-left: 0;
}

/* SIDEBAR */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 15rem;
    flex-grow: 0;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 8;
    min-width: 50%;
}

/* STACK */
.stack{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.stack__medium {
    display: flex;
    flex-direction: column;
    gap: 1.5em; 
}

.stack__big {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.stack__content {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.stack__logo {
    display: flex;
    flex-direction: column;
    width:16%
}

.stack__logo > .title {
    align-self: flex-end;
}

.stack__logo > .subtitle {
    align-self: flex-start;
}

/* ALIGNMENT */
.centre {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cover{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.top {
    margin-bottom: auto;
    margin-top: 0;
}

.bottom {
    margin-top:auto;
    margin-bottom: 0;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left {
    margin-left: 0;
    margin-right: auto;

    text-align: left;
}

.horizontal {
    margin-top: 3em;
    margin-bottom: 3em;
}

.baseline {
    align-self: baseline;
}

/* COLUMNS */

.columns{
    display: flex;
    justify-content: space-around;
}

.column1 {
    flex: 0 0 30vw;
}

.column2 {
    flex: 0 0 28vw;
}

/* ARRANGMENT */

.square {
    width: 22em;
    height: 30em;
}

.square__column {
    width: 40vw;
}

/* MARGIN SET */
.bottom__1{
    margin-top: 1.5em;
    margin-bottom: 0;
}

.top__1{
    margin-bottom: 1.5em;
    margin-top: 0;
}

.left__1 {
    margin-left: 0.5em;
    margin-right: auto;
}

.nomargins {
    margin: auto 0;
}
