@import url(reset.css);
@import url(colours.css);
@import url(spacing.css);
@import url(webfontkit-20230428-230817/type.css);

body {
    margin: 2% 6% 6% 6%;
}

.main {
    margin:0;
}

/* CLUSTER */
.cluster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cluster__around {
    justify-content: space-around;
}

.cluster__none {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}

.cluster__medium {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md); 
}

.cluster__big {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);
}

.cluster__xl {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xl);
}

.cluster__xxl {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxl);
}

.cluster__content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxxxxl);
}

.cluster__wrap {
    flex-wrap: wrap;
}

.cluster > .icon {
    margin: 0.5rem;
}

.cluster > .keyNav {
    margin-left: 0;
}

/* SIDEBAR */
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 12rem;
    flex-grow: 0;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 10;
    max-width: fit-content;
}

/* STACK */
.stack{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.stack__medium {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md); 
}

.stack__big {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.stack__xl {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.stack__xxl {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
}

.stack__xxxl {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxl);
}

.stack__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxxxl);
}

.stack__logo {
    display: flex;
    flex-direction: column;
    width:16%
}

.stack__logo > .title {
    align-self: flex-end;
}

.stack__logo > .subtitle {
    align-self: flex-start;
}

/* ALIGNMENT */
.centre {
    margin-left: auto;
    margin-right: auto;
}

.centre__content {
    min-width: fit-content;
}

.cover{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.top {
    margin-bottom: auto;
    margin-top: 0;
}

.bottom {
    margin-top:auto;
    margin-bottom: 0;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.left {
    margin-left: 0;
    margin-right: auto;

    text-align: left;
}

.horizontal {
    margin-top: 3em;
    margin-bottom: 3em;
}

.baseline {
    align-self: baseline;
}

/* COLUMNS */

.columns{
    display: flex;
    justify-content: space-around;
}

.column1 {
    flex: 0 0 30vw;
}

.column2 {
    flex: 0 0 28vw;
}

/* ARRANGMENT */

.square {
    width: 22em;
    height: 30em;
}

.square__column {
    width: 50vw;
}

.cart {
    width: 28vw;
}

/* MARGIN SET */
.bottom__1{
    margin-top: 1.5em;
    margin-bottom: 0;
}

.top__1{
    margin-bottom: 1.5em;
    margin-top: 0;
}

.left__1 {
    margin-left: 0.5em;
    margin-right: auto;
}

.nomargins {
    margin: auto 0;
}

/* OVERLAY */
.overlay {
    position: absolute;
    top:3em;
    left: 3em;;

    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    background-color: var(--colour-bg);
    z-index: 11;
}

.wrapper {
    position: relative;
}

/* KEYS */

.altKey {
    width: 16vw;
}