@import url(reset.css);
@import url(colours.css);
@import url(webfontkit-20230428-230817/type.css);
@import url(layout.css);

:root{
    background-color: var(--colour-bg);
}

main {
    min-height: 100vh;
}

/* BUTTON STYLING */
button {
    border: 0.5px solid var(--colour-primary);
    border-radius: 0.4em;

    background-color: var(--colour-bg);

    padding: 0.5em 1em;
}

button:hover, button:hover > h4, button:hover > h5 {
    background-color: var(--colour-primary);
    color: var(--colour-bg);
}

.btn {
    border: 0.5px solid var(--colour-primary);
    border-radius: 0.4em;

    background-color: var(--colour-bg);

    padding: 0.5em 1em;
}

.btn:hover, .btn:hover > h4, .btn:hover > h5 {
    background-color: var(--colour-primary);
    color: var(--colour-bg);
}

.button__margins {
    margin: 0 2em;
}

/* NAV BAR */
.keyNav {
    flex: 0 0 18vw; 

    justify-content: space-around;
    gap: 0rem;
}

.key {
    border-radius: 0 80px 80px 0;
    border: solid;
    border-width: 2px 2px 5.5px 0;

    background-color: var(--colour-bg);
    padding: 0.3em 0.3em 0.3em 0.8em;
    
    text-align: center;
    align-items: none;

    display: flex;
    justify-content: space-between;
}

.key > h3 {
    align-self: center;
}

/* ICON NAV */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-icon {
    display: flex;
    flex-direction: row;
}

/* ICON STYLING */
.icon {
    border-radius: 50%;
    border: 0.5px solid;
    border-color: var(--colour-primary); 

    width: 2.2em;
    height: 2.2em;

    display: flex;
    justify-content: center;
    align-self: center;
}

.icon__small {
    width: 1.9em;
    height: 1.9em;
}

.icon__big {
    width:8em;
    height:8em;
}

.icon:hover, .icon:hover > svg > path, .icon:hover > svg > g > path  {
    /* border-color: var(--colour-bg); */
    background-color: var(--colour-primary);
    fill: var(--colour-bg);
}

.icon > svg {
    max-width: 65%;
    max-height: 65%;

    align-self: center;
}

/* VARIANTS OF ICON */
.icon__brown {
    border-color: var(--colour-bg);
    background-color: var(--colour-primary);
}

.icon__brown:hover, .icon__brown:hover > svg > path  {
    border-color: var(--colour-primary);
    background-color: var(--colour-bg);
    fill: var(--colour-primary);
}


.combo, .combo > svg > path {
    border-color: var(--colour-combo);
    fill: var(--colour-combo);
}

.combo__key {
    border-color: var(--colour-combo);
}

.combo:hover, .combo:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-combo);
    fill: var(--colour-bg);
}

.mini, .mini > svg > path {
    border-color: var(--colour-mini);
    fill: var(--colour-mini);
}

.mini__key {
    border-color: var(--colour-mini);
}

.mini:hover, .mini:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-mini);
    fill: var(--colour-bg);
}

.keyHarp, .keyHarp > svg > path {
    border-color: var(--colour-keyharp);
    fill: var(--colour-keyharp);
}

.keyHarp__key {
    border-color: var(--colour-keyharp);
}

.keyHarp:hover, .keyHarp:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-keyharp);
    fill: var(--colour-bg);
}

.toy, .toy > svg > path {
    border-color: var(--colour-toy);
    fill: var(--colour-toy);
}

.toy__key {
    border-color: var(--colour-toy);
}

.toy:hover, .toy:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-toy);
    fill: var(--colour-bg);
}

.electric, .electric > svg > g > path {
    border-color: var(--colour-electric);
    fill: var(--colour-electric);
}

.electric__key {
    border-color: var(--colour-electric);
}

.electric:hover, .electric:hover > svg > g > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-electric);
    fill: var(--colour-bg);
}

.headphones, .headphones > svg > path {
    border-color: var(--colour-headphones);
    fill: var(--colour-headphones);
}

.headphones__key {
    border-color: var(--colour-headphones);
}


.headphones:hover, .headphones:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-headphones);
    fill: var(--colour-bg);
}

.effects, .effects > svg > g > path {
    border-color: var(--colour-effects);
    fill: var(--colour-effects);
}

.effects__key {
    border-color: var(--colour-effects);
}

.effects:hover, .effects:hover > svg > g > path, .effects:hover > svg > g > ellipse  {
    border-color: var(--colour-bg);
    background-color: var(--colour-effects);
    fill: var(--colour-bg);
}

.parts, .parts > svg > path {
    border-color: var(--colour-parts);
    fill: var(--colour-parts);
}

.parts__key {
    border-color: var(--colour-parts);
}

.parts:hover, .parts:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-parts);
    fill: var(--colour-bg);
}

.fashion, .fashion > svg > path {
    border-color: var(--colour-fashion);
    fill: var(--colour-fashion);
}

.fashion__key {
    border-color: var(--colour-fashion);
}

.fashion:hover, .fashion:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-fashion);
    fill: var(--colour-bg);
}

.zakka, .zakka > svg > path{
    border-color: var(--colour-zakka);
    fill: var(--colour-zakka);
}

.zakka__key {
    border-color: var(--colour-zakka);
}

.zakka:hover, .zakka:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-zakka);
    fill: var(--colour-bg);
}

.other, .other > svg > text {
    border-color: var(--colour-other);
    fill: var(--colour-other);
}

.other__key {
    border-color: var(--colour-other);
}

.other:hover, .other:hover > svg > text  {
    border-color: var(--colour-bg);
    background-color: var(--colour-other);
    fill: var(--colour-bg);
}

.icon__second, .icon__second > svg > path {
    border-color: var(--colour-secondary);
    fill: var(--colour-secondary);
}

.icon__second:hover, .icon__second:hover > svg > path {
    border-color: var(--colour-bg);
    background-color: var(--colour-secondary);
    fill: var(--colour-bg);
}

.key:hover {
    border-width: 2px 2px 2px 0 ;
    max-width: 97%;
    max-height: 97%;
}

/* DIASABLED */
.disabled {
    pointer-events:none;
}

/* INPUT STYLING */
select, option {
    background-color: var(--colour-bg);
    border: 0.5px solid var(--colour-primary);
    border-radius: 0.3rem;

    padding: 0.2rem 0;
}

select:focus-visible {
    outline: 0.5px solid var(--colour-secondary);
    border: 1px solid var(--colour-secondary);
    border-radius: 0.3rem;
}

input {
    background-color: var(--colour-bg);
    border: 0.5px solid var(--colour-primary);
    border-radius: 0.3rem;

    padding: 0.2rem 0.3rem;
}

input:focus-visible {
    outline: 0.5px solid var(--colour-secondary);
    border: 1px solid var(--colour-secondary);
    border-radius: 0.3rem;
}

input[type="radio"] {
    appearance: none;

    width: 1rem;
    height: 1rem;

    border-radius: 50%;

    background-color: var(--colour-bg);
    border: 1px solid var(--colour-primary);

    position:relative;
}

input:checked {
    background-color: var(--colour-primary);
    border: 3px solid var(--colour-bg);
    box-shadow: 0 0 0 1px var(--colour-primary);
}

input[type="textarea"] {
    height: 4rem;
    resize: none;
}

input[type="textarea"]::placeholder {
    margin-top: 0;
    margin-bottom: auto;
}

/* SECTION STYLING */
.filters {
    border-radius: 0.8em;
    border: 0.5px solid;
    border-color: var(--colour-primary); 

    padding: 1.5em;
    height: fit-content;
}

.box {
    border-radius: 0.8em;
    border: 0.5px solid;
    border-color: var(--colour-primary); 

    padding: 1rem;
}

.box__fit {
    border-radius: 0.8em;
    border: 0.5px solid;
    border-color: var(--colour-primary); 

    padding: 1em;
    height: fit-content;
}

.margins_sides {
    margin: 8%;
}


/* IMAGE STYLING */
.product {
    border-radius: 0.6em;
    width: 10em;
    height: 10em;
}

.product__small {
    border-radius: 0.6em;
    width: 5em;
    height: 5em;
}

.product__fit {
    width: 7rem;
    height: 7rem;
}

/* EFFECTS */
.scroll {
    max-height: 28em;
    overflow: scroll;
}

.blur {
    backdrop-filter: blur(10px);
}

.hidden {
    visibility: hidden;
}

/* LINE STYLING */
hr {
    border: 0.5px solid var(--colour-primary);
    padding: 0;
}

/* IMAGE STYLING */
img {
    border-radius: 0.8em;
}

/* SEARCH */
.bar {
    /* justify-content: end; */
    height: 2em;

    border: 0.5px solid var(--colour-primary);
    border-radius: 6em;
    border-width: 0.5px 0 0.5px 0.5px;
}

input[type="search"], input[type="search"]:focus, input[type="search"]:focus-visible {
    margin: 0;
    height: 2em;

    border: none;
    border-radius: 6em;

    outline: none;
    padding: 0.2rem 0.8rem;

}

.bar__icon {
    width: 2em;
    height: 2em;

}

.oval {
    border-radius: 6em;
    padding: 0.3em 0.8em;

    color: var(--colour-bg);
    background-color: var(--colour-secondary);
    border: 0.5px solid var(--colour-secondary);
}

.oval:hover {
    background-color: var(--colour-bg);
}

.oval > h7 {
    color: var(--colour-bg);
}

.oval:hover, .oval > h7:hover {
    color: var(--colour-primary);
}