@import url(reset.css);
@import url(colours.css);
@import url(webfontkit-20230428-230817/type.css);
@import url(layout.css);

:root{
    background-color: var(--colour-bg);
}

main {
    min-height: 100vh;
}


.keyNav {
    flex: 0 0 20vw; 

    justify-content: space-around;
    gap: 0rem;
}

.key {
    border-radius: 0 80px 80px 0;
    border: solid;
    border-width: 2px 2px 5.5px 0;

    background-color: var(--colour-bg);
    padding: 0.3em 0.3em 0.3em 0.8em;
    
    text-align: center;
    align-items: none;

    display: flex;
    justify-content: space-between;
}

.key > h3 {
    align-self: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
}

.nav-icon {
    display: flex;
    flex-direction: row;
}

.icon {
    border-radius: 50%;
    border: 0.5px solid;
    border-color: var(--colour-primary); 

    width: 2.5em;
    height: 2.5em;

    display: flex;
    justify-content: center;
    align-self: center;
}

.icon:hover, .icon:hover > svg > path, .icon:hover > svg > g > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-primary);
    fill: var(--colour-bg);
}

.icon > svg {
    max-width: 65%;
    max-height: 65%;

    align-self: center;
}


.icon__brown {
    border-color: var(--colour-bg);
    background-color: var(--colour-primary);
}

.icon__brown:hover, .icon__brown:hover > svg > path  {
    border-color: var(--colour-primary);
    background-color: var(--colour-bg);
    fill: var(--colour-primary);
}


.combo, .combo > svg > path {
    border-color: var(--colour-combo);
    fill: var(--colour-combo);
}

.combo__key {
    border-color: var(--colour-combo);
}

.combo:hover, .combo:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-combo);
    fill: var(--colour-bg);
}

.mini, .mini > svg > path {
    border-color: var(--colour-mini);
    fill: var(--colour-mini);
}

.mini__key {
    border-color: var(--colour-mini);
}

.mini:hover, .mini:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-mini);
    fill: var(--colour-bg);
}

.keyHarp, .keyHarp > svg > path {
    border-color: var(--colour-keyharp);
    fill: var(--colour-keyharp);
}

.keyHarp__key {
    border-color: var(--colour-keyharp);
}

.keyHarp:hover, .keyHarp:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-keyharp);
    fill: var(--colour-bg);
}

.toy, .toy > svg > path {
    border-color: var(--colour-toy);
    fill: var(--colour-toy);
}

.toy__key {
    border-color: var(--colour-toy);
}

.toy:hover, .toy:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-toy);
    fill: var(--colour-bg);
}

.electric, .electric > svg > g > path {
    border-color: var(--colour-electric);
    fill: var(--colour-electric);
}

.electric__key {
    border-color: var(--colour-electric);
}

.electric:hover, .electric:hover > svg > g > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-electric);
    fill: var(--colour-bg);
}

.headphones, .headphones > svg > path {
    border-color: var(--colour-headphones);
    fill: var(--colour-headphones);
}

.headphones__key {
    border-color: var(--colour-headphones);
}


.headphones:hover, .headphones:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-headphones);
    fill: var(--colour-bg);
}

.effects, .effects > svg > g > path {
    border-color: var(--colour-effects);
    fill: var(--colour-effects);
}

.effects__key {
    border-color: var(--colour-effects);
}

.effects:hover, .effects:hover > svg > g > path, .effects:hover > svg > g > ellipse  {
    border-color: var(--colour-bg);
    background-color: var(--colour-effects);
    fill: var(--colour-bg);
}

.parts, .parts > svg > path {
    border-color: var(--colour-parts);
    fill: var(--colour-parts);
}

.parts__key {
    border-color: var(--colour-parts);
}

.parts:hover, .parts:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-parts);
    fill: var(--colour-bg);
}

.fashion, .fashion > svg > path {
    border-color: var(--colour-fashion);
    fill: var(--colour-fashion);
}

.fashion__key {
    border-color: var(--colour-fashion);
}

.fashion:hover, .fashion:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-fashion);
    fill: var(--colour-bg);
}

.zakka, .zakka > svg > path{
    border-color: var(--colour-zakka);
    fill: var(--colour-zakka);
}

.zakka__key {
    border-color: var(--colour-zakka);
}

.zakka:hover, .zakka:hover > svg > path  {
    border-color: var(--colour-bg);
    background-color: var(--colour-zakka);
    fill: var(--colour-bg);
}

.other, .other > svg > text {
    border-color: var(--colour-other);
    fill: var(--colour-other);
}

.other__key {
    border-color: var(--colour-other);
}

.other:hover, .other:hover > svg > text  {
    border-color: var(--colour-bg);
    background-color: var(--colour-other);
    fill: var(--colour-bg);
}

.key:hover {
    border-width: 2px 2px 2px 0 ;
    max-width: 97%;
    max-height: 97%;
}

footer {
    margin: 8%;
}

.disabled {
    pointer-events:none;
}