@import url(colours.css);

.key {
    border-radius: 15px 60px 60px 15px;
    border: 2px solid;

    padding: 15px 70px 15px 70px;
    background-color: var(--colour-bg);
    
    color: var(--colour-text);
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.mini {
    border-color: var(--colour-mini);
}