@import url(colours.css);
@import url(reset.css);

@font-face {
    font-family: 'asikueitalic';
    src: url('https://github.com/lorenw003/Assignment-3/blob/main/webfontkit-20230428-230817/asikue-oblique-webfont.woff2') format('woff2'),
         url('https://github.com/lorenw003/Assignment-3/blob/main/webfontkit-20230428-230817/asikue-oblique-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'asikueitalic';
    src: url('asikue-oblique-webfont.woff2') format('woff2'),
         url('asikue-oblique-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'asikueregular';
    src: url('asikue-regular-webfont.woff2') format('woff2'),
         url('asikue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'asikueregular';
    src: url('asikue-regular-webfont.woff2') format('woff2'),
         url('asikue-regular-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}


:root {
    --font-primary: 'asikueregular';
    --font-content: 'asikueitalic';

    --font-neutral: "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;

    /* text */
    --colour-text: #8A5037;

    /*type scale*/
    --text-base-size: 0.95em;
    --text-scale-ratio: 1.2;

    --text-xxs: calc(((var(--text-base-size)/var(--text-scale-ratio)/)var(--text-scale-ratio)));
    --text-xs: calc((var(--text-base-size)/var(--text-scale-ratio)));
    --text-sm: var(--text-base-size);
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-base-size)* var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

h1 {
    font-family: var(--font-primary);
    color: var(--colour-text);
    font-size: var(--text-xxxxl);
    
}

h2 {
    font-family: var(--font-primary);
    color: var(--colour-text);
    font-size: var(--text-xxl);   
}

h3 {
    font-family: var(--font-primary);
    color: var(--colour-text);
    font-size: var(--text-xl);
}

h4 {
    font-family: var(--font-content);
    color: var(--colour-text);
    font-size: var(--text-lg);
}

h5 {
    font-family: var(--font-content);
    color: var(--colour-primary);
    font-size: var(--text-md);
}

h6 {
    font-family: var(--font-content);
    color: var(--colour-secondary);
    font-size: var(--text-md);
}

h7 {
    font-family: var(--font-content);
    color: var(--colour-text);
    font-size: var(--text-sm);
}

h8 {
    font-family: var(--font-neutral);
    font-weight: 500;
    color: var(--colour-text);
    font-size: var(--text-xs);
}

h9 {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-text);
    font-size: var(--text-xs);
}

p {
    font-family: "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
    color: var(--colour-text);
    font-size: var(--text-sm);
    line-height: normal;
    font-weight: 300;
}

ul {
    font-family: var(--font-neutral);
    font-weight: 300;
    font-size: var(--text-xs);

    line-height: 1.7em;
} 



/* BUTTONS/LINKS */
a {
    text-decoration: none; 
    color: var(--colour-secondary);
}

button {
    font-family: var(--font-content);
    font-size: var(--text-sm);
}

.btn {
    font-size: var(--text-lg);
}

.btn__h5 {
    font-size: var(--text-md)
}



/* FORMS */
label {
    font-size: var(--text-xs);

    font-family: var(--font-neutral);
    font-weight: 300;

    color: var(--colour-primary);
}

input {
    font-size: var(--text-sm);

    font-family: var(--font-neutral);
    font-weight: 300;
}

input:focus {
    font-family: var(--font-neutral);
    font-weight: 300;
}

input::placeholder {
    font-size: var(--text-sm);

    font-family: var(--font-neutral);
    font-weight: 300;
}

select, option {
    font-size: var(--text-sm);

    font-family: var(--font-neutral);
    font-weight: 300;
}



/* STYLES */
.standard {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-primary);
    font-size: var(--text-sm);
}



/* WEIGHT */
.bold {
    font-weight: 500;
}

.light {
    font-weight: 300;
}



/* FONT */
.neutral {
    font-family: var(--font-neutral);
}

.italic {
    font-family: var(--font-content);
}



/* COLOUR */
.primary {
    color: var(--colour-primary);
}

.secondary, .secondary > p, .secondary > h7, .secondary > h8 {
    color: var(--colour-secondary);
}

.title {
    color: var(--colour-primary-accent);
    font-family: var(--font-primary);
}

.subtitle {
    color: var(--colour-secondary-accent);
}

.title__big {
    font-size: 75px;
}



/* MEDIA QUERY */
@media only screen 
    and (device-width: 375px)  {
    .title__big {
        font-size: var(--text-xxxl);
    }

    .subtitle {
        font-size: var(--text-xs);
    }

    h4 {
        font-size: var(--text-sm);
    }
}

/* 


.standard {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-primary);
    font-size: var(--text-sm);
}

.bold {
    font-weight: 500;
}

.light {
    font-weight: 300;
}

input::placeholder {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-secondary);
    font-size: var(--text-sm);
}

input {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-secondary);
}

input:focus {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-secondary);
}

select, option {
    font-family: var(--font-neutral);
    font-weight: 300;
    color: var(--colour-secondary);
    font-size: 14px;
}

p {
    font-family: "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
    color: var(--colour-text);
    font-size: var(--text-sm);
    line-height: normal;
    font-weight: 300;
}

a {
    text-decoration: none; 
    color: var(--colour-secondary);
}

ul {
    font-family: var(--font-neutral);
    font-weight: 300;
    font-size: var(--text-xs);

    line-height: 1.7em;
} 

label {
    font-family: var(--font-neutral);
    font-weight: 300;
    font-size: var(--text-xs);

    color: var(--colour-primary);
}

input {
    font-size: var(--text-sm);
}

select, option {
    font-size: var(--text-sm);
}

.title {
    color: var(--colour-primary-accent);
    font-family: var(--font-primary);
}

.subtitle {
    color: var(--colour-secondary-accent);
}

.title__big {
    font-size: 75px;
}

.neutral {
    font-family: var(--font-neutral);
}

.italic {
    font-family: var(--font-content);
}

.primary {
    color: var(--colour-primary);
}

.secondary, .secondary > p, .secondary > h7, .secondary > h8 {
    color: var(--colour-secondary);
} */