@import url(colours.css);

@font-face {
    font-family: 'asikueitalic';
    src: url('asikue-oblique-webfont.woff2') format('woff2'),
         url('asikue-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'asikueitalic';
    src: url('asikue-oblique-webfont.woff2') format('woff2'),
         url('asikue-oblique-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'asikueregular';
    src: url('asikue-regular-webfont.woff2') format('woff2'),
         url('asikue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'asikueregular';
    src: url('asikue-regular-webfont.woff2') format('woff2'),
         url('asikue-regular-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}


:root {
    --font-primary: 'asikueregular';
    --font-content: 'asikueitalic';

    /* text */
    --colour-text: #8A5037;
}

h1 {
    font-family: var(--font-primary);
    color: var(--colour-text);
    margin: 0;
}

h2 {
    font-family: var(--font-content);
    color: var(--colour-text);
    margin: 0;
}

h3 {
    font-family: var(--font-content);
    color: var(--colour-text);
    margin: 0;
}

p {
    font-family: var(--font-content);
    color: var(--colour-text);
    margin: 0;
}